{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

{% if response %}
<pre>
<code class="language-{{ lang }} line-numbers">
{{ response }}

</code>
</pre>
<br>
<br>
    
    <form method=POST action="{% url 'home' %}">
        {% csrf_token %}
      <div class="mb-3">
        <textarea class="form-control" name="code" placeholder="Use A.I. to fix my code..." rows="3"></textarea>
      </div>
      <br>
      <select class="form-select" name="lang">
        <option selected>Select Programming Language</option>
        {% for lang in lang_list %}
        <option value="{{ lang }}">{{ lang }}</option>
        {% endfor %}
      </select>
      <br>
      <button type="submit" class="btn btn-secondary mb-3">Submit</button>
    </form>

{% else %}

<pre>
<code class="language-python line-numbers">
if name == 'Mark':
    print('Hello Mark!')
else 
    print('Hello friend')
</code>
</pre>
<br>
<br>

<form method=POST action="{% url 'home' %}">
    {% csrf_token %}
  <div class="mb-3">
    <textarea class="form-control" name="code" placeholder="Use A.I. to fix my code..." rows="3"></textarea>
  </div>
  <br>
  <select class="form-select" name="lang">
    <option selected>Select Programming Language</option>
    {% for lang in lang_list %}
    <option value="{{ lang }}">{{ lang }}</option>
    {% endfor %}
  </select>
  <br>
  <button type="submit" class="btn btn-secondary mb-3">Submit</button>
</form>

{% endif %}

{% else %}
<h1 class="text-center">Login</h1>
<br>

<div class="col-md-6 offset-md-3">
  <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter username" name="username">
      <br>
    </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter password" name="password">
      <br>
    </div>

    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
{% endif %}

{% endblock %}

